.login-div{
    border:2px solid rgb(224, 198, 198);
    padding :20px;
    button{
        width:100px;
        border-radius: 20px;
    }
    a{
        color:white;
        text-decoration: none;
        width: 23%;
    }
}

.cont {
    display: flex;
    flex-direction: column;
    
  }
  

  .cont> * {
    width: 60%;
  }

  h3{
      color:white;
      font-family: cursive;      
  }

