<div class="login-div">
    <form>
        <h3>Login to connect</h3>
        <br>
        <div class="cont">
            <mat-form-field>
                <input type="text" matInput placeholder="Username">
            </mat-form-field>

            <mat-form-field>
                <input matInput placeholder="Enter your password" [type]="hide ? 'password' : 'text'">
                <button type="button" mat-icon-button matSuffix (click)="hide = !hide"
                    [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>
            
                <a type="input" href="#">Forgot password ?</a>
            
            <br>
            <button type="submit" mat-raised-button color="primary">Login</button>

        </div>
    </form>
</div>