<div class="main">
    <div class="row">
        <div class="col-md-6">
            <div class="welcome">
                <h1 id="welcome">Welcome to <span style="font-family:cursive;color: white">Connect <span
                            class="fa fa-external-link"></span></span> </h1>
                    <br><br>

                    <router-outlet></router-outlet>
                        

            </div>
        </div>
        <div class="col-md-6">
        </div>
    </div>
</div>