.main{
    background-image: url("../../../assets/images/apple.jpeg");
    background-position: center;
    background-color:skyblue ;
    height:100vh;
    width:100%;
    
}

.welcome{
    h1{
    margin:auto;
    text-shadow: 3px 2px 2px grey;
    }
    margin-top: 50px;
    padding:50px;
}
#welcome{
    color:blue;
}