<div class="card card-primary">
    <div class="card-header">
        <div class="card-title"> <b>Sign up</b>  </div>
    </div>
    <div class="card-body">
        <div class="signup">
            <div class="cont">
                <div class="row">
                    <div class="col-md-6">
                        <mat-form-field>
                            <input matInput placeholder="Firstname">
                        </mat-form-field>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field>
                            <input matInput placeholder="Lastname">
                        </mat-form-field>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>