<nav class="navbar navbar-expand-lg navbar-light bg-primary">
    <a class="navbar-brand" href="#">Connect <b class="fa fa-external-link"></b></a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">

        <li class="nav-item active">
          <a class="nav-link" href=""><span class="fa fa-phone"></span> Contact us </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#"><span class="fa fa-info-circle"></span> About us </a>
        </li>
       
      </ul>


      <ul class="navbar-nav">
          <li class="nav-item">
              <a class="nav-link" routerLink="/signup">Sign up</a>
          </li>   
          
          <li class="nav-item">
              <a class="nav-link" routerLink="/login">Login <span class="fa fa-sign-in"></span></a>
          </li> 
      </ul>
      
    </div>
  </nav>